.add_margin {
    margin-bottom: 1rem !important;
}

.date_range > input, .date_range > label,
.single_date > input, .single_date > label {
    display: inline;
    width: revert;
    margin-right: 0.5rem;
}

.date_range, .single_date {
    margin-bottom: 0.5rem;
}

#todays_schedule {
    border: none;
    font-size: 1rem;
}

#todays_schedule tr.text-primary {
    font-size: 1.2rem;
}

#todays_schedule td {
    padding-bottom: 0.7rem;
    padding-right: 1rem;
}