.add_margin {
    margin-bottom: 1rem !important;
}

.date_ranges > input, .date_ranges > label {
    display: inline;
    width: revert;
}

.date_ranges .form-checkbox {
    margin-left: 1rem;
}

.date_ranges {
    margin-bottom: 0.5rem;
}