{% extends "base.html" %}

{% block content %}
    <h1>Default Templates</h1>

    <form method="post" action="/settings/templates" class="form-horizontal" id="default_settings">

        {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
        {% for index, day in enumerate(days) %}
            <div class="form-group">
                <div class="col-2 col-sm-12"><label class="form-label" for="{{ day }}">{{ day }}</label></div>
                <div class="col-4 col-sm-12">
                    <select class="form-select" name="{{ day }}" required>
                        <option value="" selected disabled hidden>Choose a template</option>
                        {% for temp in templates %}
                            <option value="{{ temp.id }}" {% if defaults[index] == temp._id %}selected{% endif %}>
                                {{ temp.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}