{% extends "base.html" %}

{% block content %}
    <h1>{% block heading %}{% endblock %}</h1>

    <form method="post" class="form-horizontal">
        <div class="form-group"> <!-- Name -->
            <div class="col-4 col-sm-12"><label class="form-label" for="name">Name</label></div>
            <div class="col-8 col-sm-12">
                <input class="form-input" name="name" id="name" placeholder="Early assembly" required>
            </div>
        </div>
        <div class="form-group"> <!-- Apply for... -->
            <label class="form-checkbox">
                <input type="checkbox" name="apply">
                <i class="form-icon"></i> {% block applyfor %}{% endblock %}
            </label>
        </div>
        <div class="form-group">
            <div class="col-1 hide-sm"></div>
            <div class="col-11 col-sm-12">
                {% set days = ["Monday", "Tueday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
                {% for day in days %}
                    <label class="form-inline form-checkbox">
                        <input type="checkbox" name="{{ day }}">
                    <i class="form-icon"></i> {{ day }}s
                    </label>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}