<div class="panel add_margin">
    <div class="panel-header">
        <div class="panel-title">Bell schedule</div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Sound file</th>
                </tr>
            </thead>
            <tbody id="bell-list">
                <tr>
                    <td>08:47</td>
                    <td>Period 1</td>
                    <td>Default</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div id="addnew" class="container">
            <div class="columns">
                <input class="form-input column col-3" id="bell-time" placeholder="13:55" pattern="(2[0-3]|[01][0-9]):[0-5][0-9]">
                <input class="form-input column col-3" id="bell-name" placeholder="Bell name">
                <select class="form-select column col-3" id="bell-file">
                    <option value="default" selected>Default (currently bla)</option>
                    <!-- TODO add all templates here -->
                </select>
                <div class="column col-2"></div>
                <button class="btn btn-primary column col-1" type="button" id="add" onclick="add_bells()">Add</button>
            </div>
        </div>
        <div id="editexisting" class="d-hide">
            <button class="btn btn-error" type="button" onclick="delete_bells()">Delete</button>
            <button class="btn btn-primary" type="button" id="edit" onclick="edit_bells()">Edit</button>
        </div>
    </div>
</div>