<div class="panel add_margin">
    <div class="panel-header">
        <div class="panel-title">Bell schedule</div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Sound</th>
                </tr>
            </thead>
            <tbody id="bell-list">
                <tr>
                    <td colspan="3" class="text-center"><em>There are currently no bells scheduled.</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div id="addnew" class="container">
            <div class="columns">
                <input class="form-input column col-3" id="bell-time" placeholder="13:55" pattern="(2[0-3]|[01][0-9]):[0-5][0-9]">
                <input class="form-input column col-3" id="bell-name" placeholder="Bell name">
                <select class="form-select column col-3" id="bell-file">
                    <option value="default" selected>Default ({{ default_sound.name }})</option>
                    {% for sound in sounds %}
                        <option value="{{ sound.id }}">{{ sound.name }}</option>
                    {% endfor %}
                </select>
                <div class="column col-2"></div>
                <button class="btn btn-primary column col-1" type="button" id="add" onclick="add_bells()">Add</button>
                <div class="has-error"><span class="form-input-hint d-hide" id="add_warnings"></span></div>
            </div>
        </div>
        <div id="editexisting" class="d-hide">
            <button class="btn btn-error" type="button" onclick="delete_bells()">Delete</button>
            <button class="btn btn-primary" type="button" id="edit" onclick="edit_bells()">Edit</button>
        </div>
    </div>
</div>