<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Bell Scheduler</title>

    {% block extra_resources %}{% endblock %}

    {% if config['ENV'] == 'development'  %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/spectre/spectre.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/spectre/icons.css') }}">
        <script src="{{ url_for('static', filename='vendor/cleave/cleave.js') }}" defer></script>
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/spectre/spectre.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/spectre/icons.min.css') }}">
        <script src="{{ url_for('static', filename='vendor/cleave/cleave.min.js') }}" defer></script>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div class="container grid-lg">
        <header class="navbar" style="margin-bottom: 1.5rem">
            TODO Put the navbar here
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast toast-{{ category }}">
                      <button class="btn btn-clear float-right" onclick="hide_this(event)"></button>
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>