{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Create new schedule{% endblock %}</h1>

    <form method="post" action="{{ url_for("schedule.create") }}" onsubmit="assemble_data()" class="form-horizontal" id="template_form">
        <div class="form-group add_margin"> <!-- Name -->
            <div class="col-4 col-sm-12"><label class="form-label" for="name">Name</label></div>
            <div class="col-8 col-sm-12">
                <input class="form-input" name="name" id="name" placeholder="Early assembly" required>
            </div>
        </div>

        {% include "_bells.html" %}

        <label class="form-label" for="date0">Apply custom schedule the following set of dates:</label>
        <ul>
            <li class="date_range">
                <label class="form-label" for="date0"></label>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0"></span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    and run until
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0">Date</span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    and run until
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0">Date</span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    running until
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0">Date</span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    End date
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0">Date</span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    ending at
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
            <li class="date_ranges">
                <label class="form-label" for="date0"><span id="adjust0">Start date</span></label>
                <input type="date" class="form-input" name="date0" id="date0">
                <label class="form-checkbox">
                    <input type="checkbox" onclick="toggle_end(0)">
                    <i class="form-icon"></i>
                    End date
                </label>
                <input type="date" class="form-input" name="end0" id="end0" disabled>
            </li>
        </ul>
        <button type="button" class="btn btn-primary add_margin">+ Add new date or date range</button>
    </form>

{% endblock %}