{% extends "base.html" %}

{% block extra_resources %}
    {% if config['ENV'] == 'development'  %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar/core/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar/daygrid/main.css') }}">
        <script src="{{ url_for('static', filename='vendor/fullcalendar/core/main.js') }}" defer></script>
        <script src="{{ url_for('static', filename='vendor/fullcalendar/daygrid/main.js') }}" defer></script>
        <script src="{{ url_for('static', filename='vendor/fullcalendar/interaction/main.js') }}" defer></script>
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar/core/main.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar/daygrid/main.min.css') }}">
        <script src="{{ url_for('static', filename='vendor/fullcalendar/core/main.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='vendor/fullcalendar/daygrid/main.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='vendor/fullcalendar/interaction/main.min.js') }}" defer></script>
    {% endif %}
    <script src="{{ url_for('static', filename='schedule_list.js') }}" defer></script>
{% endblock %}

{% block content %}
    <h1>Bell Schedule</h1>

    <a class="btn btn-primary" href="{{ url_for("schedule.create") }}">Manually create new schedule</a>

    <div class="divider text-center" data-content="OR"></div>

    <p>Alternatively, select one or more dates on the calendar below: (you can select multiple dates by clicking and dragging)</p>

    <div id="calendar" class="add_margin"></div>

    <form action="{{ url_for("schedule.create") }}" method="post" onsubmit="extract_days()">
        <button type="submit" class="btn btn-primary">Create custom schedule for selected dates</button>
    </form>
{% endblock %}
