{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Change Password{% endblock %}</h1>

    <form method="POST" action="{{ url_for_security('change_password') }}" class="container">
        {{ change_password_form.hidden_tag() }}
        <div class="columns">
            <div class="column col-4 col-lg-6 col-sm-12">
                <label class="form-label" for="password">Current password</label>
                <input type="password" class="form-input" name="password" id="password" required>
                <label class="form-label" for="new_password">New password</label>
                <input type="password" class="form-input" name="new_password" id="new_password" required>
                <label class="form-label" for="new_password_confirm">Confirm new password</label>
                <input type="password" class="form-input add_margin" name="new_password_confirm"
                       id="new_password_confirm" required>

                <button type="submit">Change password</button>
            </div>
        </div>
    </form>
{% endblock %}